* {
    margin: 0px;
    padding: 0;
}
.container_corp {
    width: 425px;
    height: 450px;
    float: left;
}

.corp {
    position: relative;
    margin-left: 100px;
}

.key_pressed {
    padding-top: 200px;
    float: left;
}

.mot {
    float: right;
    padding-top: 200px;
    padding-right: 100px;
}

.poutre-droite {
    border-left: 2px solid #000;
    display: inline-block;
    height: 350px;
    left: 300px;
    top: 100px;
    visibility: hidden;
}
.poutre {
    border : 1px solid #000000;
    width: 300px;
    bottom: 254px;
    visibility: hidden;
}
.corde {
    border-left: 2px solid #000;
    display: inline-block;
    height: 100px;
    left: 105px;
    bottom: 254px;
    visibility: hidden;
}
.tete {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    bottom: 265px;
    left: 85px;
    visibility: hidden;
}
.corps {
    border-left: 2px solid #000;
    display: inline-block;
    height: 130px;
    left: 103px;
    bottom: 266px;
    visibility: hidden;
}
.bras-droit {
    border : 1px solid black;
    transform:rotate(40deg);
    width: 50px;
    bottom: 355px;
    left: 98px;
    visibility: hidden;
}
.bras-gauche {
    border : 1px solid black;
    transform:rotate(140deg);
    width: 50px;
    bottom: 357px;
    left: 58px;
    visibility: hidden;
}
.jambe-droite {
    border-left: 2px solid #000;
    transform:rotate(140deg);
    display: inline-block;
    height: 100px;
    left: 135px;
    bottom: 286px;
    visibility: hidden;
}
.jambe-gauche {
    border-left: 2px solid #000;
    transform:rotate(40deg);
    display: inline-block;
    height: 100px;
    bottom: 286px;
    right: 36px;
    visibility: hidden;
}
.case {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    left: 100px;
}